* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  background-color: #e6e6e6;
}

h1 {
  margin-top: 0;
  font-size: 22px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-inline-start: 5px;
  list-style-type: none;
}

.container {
  display: flex; /* Use flexbox */
  flex-direction: column; /* Arrange children vertically */
  align-items: center; /* Center horizontally */
  width: 90%;
  height: 80vh;
  overflow: auto;
  margin: 10vh auto;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 30px;
  font-weight: bold;
  line-height: 50px;
  height: 50px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 50px;
}

.square:hover {
  background-color:  #e6e6e6;
  border: 1px solid #999;
  cursor: pointer;
  transition: background-color 0.3s ease; 
}

.playerX {
  color: #5D97D9; 
}

.playerO {
  color: #D26A75; 
}

.playerX:hover {
  background-color: #D9E6EF; 
}

.playerO:hover {
  background-color: #F0DCDC; 
}

.board-row {
  display: flex;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 30px;
  text-align: center;
}

.title {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 20px;
}

.game {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 50%;
}

.game-info {
  margin-left: 10px;
}

.game-board {
  margin-left: 10px;
}

.restart-btn {
  display: flex;
  margin-left: 5px;
  margin-bottom: 20px;
}

.game-btn {
  display: inline-block;
  padding: 5px 10px;
  margin-bottom: 5px;
  border: none;
  border-radius: 4px;
  background-color: #9f9f9f; 
  color: #ffffff; 
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease; 
}

.game-btn:hover {
  background-color: #e6e6e6; 
  color: #585858;
}

